<launch>
  <arg name="robot_name_1" default="leader" />
  <arg name="robot_name_2" default="follower_1" /> 
  <arg name="robot_name_3" default="follower_2" /> 
  <arg name="set_distance" default="0.2" />
  <arg name="vrpn_server_ip" default="192.168.0.39" />

  <!-- 启动vrpn_client节点，连接vrpn服务器 -->
  <include file="$(find vrpn_client_ros)/launch/sample.launch">
    <arg name="server" value="$(arg vrpn_server_ip)" />
  </include>

  <!-- 启动vrpn tf appender节点，将补全的tf信息发布到tf中 -->
  <include file="$(find abc_swarm)/launch/vrpn_tf_append.launch" />

  <!-- 启动click_points节点，用于点击rviz中的点，发布到topic /clicked_point，以生成path路径 -->
  <include file="$(find abc_swarm)/launch/click_points.launch" >
    <arg name="robot_name" value="$(arg robot_name_1)" />
    <arg name="use_rviz" value="true" />
    <arg name="fixed_frame" value="world" />
  </include>

  <!-- 启动领航者的路径追踪节点 -->
  <node pkg="abc_swarm" type="pure_pursuit.py" name="leader_pure_pursuit" >
    <param name="robot_name" value="$(arg robot_name_1)" />   <!-- robot_name_1/base_link -->
    <param name="path_topic" value="$(arg robot_name_1)/path" />
    <param name="set_distance" value="$(arg set_distance)" />
  </node>
  
  <!-- 启动跟随者的阵型目标点生成节点 -->
  <node pkg="abc_swarm" type="long_snake_formation_target_pub_with_tf.py" name="formation_target_pub" >
    <param name="target_frame" value="$(arg robot_name_1)/base_link" />
    <param name="follower_frame" value="follower" />
    <param name="window_size" value="15" />
    <param name="target_num" value="4" />
    <param name="hz" value="100" />
  </node>

  <!-- 启动跟随者的阵型跟随节点 -->

  <!-- 启动follower_1跟随节点 -->
  <include file="$(find abc_swarm)/launch/follower_pid_tracker.launch" >
    <param name="robot_name" value="$(arg robot_name_2)" />
    <param name="set_distance" value="0.5" />
  </node>

  <!-- 启动follower_2跟随节点 -->
  <include file="$(find abc_swarm)/launch/follower_pid_tracker_px4.launch" >
    <param name="robot_name" value="$(arg robot_name_3)" />
    <param name="set_distance" value="0.5" />
  </node>

</launch>